@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.navbar {
    padding: 25px !important;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

:root {
    --main-color: #8e44ad;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

#navbarCollapse {
    transition: all ease-in-out 0.1s !important;
}

.navbar-brand {
    font-size: 30px !important;
}

.nav-item {
    font-size: 20px !important;
}

.home {
    height: 73vh;
}

.home img {
    height: 73vh;
    object-fit: cover;
}

.carousel-item {
    transition: all ease-in-out 0.3s !important;
}

.carousel-caption {
    top: 29% !important;
}

.carousel-caption h3 {
    margin-top: 2vh !important;
    font-size: 60px;
}

.carousel-caption h5 {
    font-size: 25px;
}

.carousel-caption h3, h5 {
    text-shadow: 3px 3px 10px rgba(0,0,0,0.19);
}

.services {
    margin: 8vh 0;
}

.services h1 {
    margin-bottom: 5vh;
}

.services-wrapper {
    gap: 10px;
}

.services-box {
    padding: 2%;
    height: 140px;
    width: 140px;
    max-width: 140px;
    text-align: center;
    background-color: #ee7600;
}



.services-box h3 {
    font-size: 15px !important;
}

.services-box img {
    width: 70% !important;
}

.footer {
    padding: 37px;
}

.footer-col {}